*{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    color: black;
    font-size: 16px;
    font-family: 'pretendard';
    line-height: 24px;
    min-width: 1320px;
}
#header{
    background: url(../images/perfume/bg1.jpg) no-repeat 50% 0;
    height: 400px;
    position: relative;
}
#header h1{
    color: white;
    font-size: 30px;
    font-weight: 400;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 18px;
    line-height: 36px;
    position: absolute;
    margin-top: 9%;
    margin-left: 15%;
}
.perfume{
    width: 460px;
    height: 330px;
    color: white;
    line-height: 45px;
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -650px;
}
.nav{
    width: 836px;
    height: 240px;
    margin: 0 auto;
    padding-top: 30px;
}
.nav ul{
    text-align: center;
}
.nav li{
   float: left;
   margin-top: 33px;
   padding-top: 55px;
}
.nav li img{
    padding: 0 20px;
}
.nav li a{
    opacity: 0.5;
}
.nav li a:hover{
    opacity: 1;
}
.nav li:nth-child(3){
margin-top: 0;
}
.nav a{
    font-size: 18px;
    font-weight: bold;
    color: #358691;
    padding: 0 40px;
}
.button{
    width: 500px;
    margin: 0 auto;
    margin-bottom: 150px;
}
.button a{
    text-decoration: none;
    color: #358691;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #9bdae7;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    box-shadow: 10px 10px 0 #9bdae7;
    transition: all 0.7s;
}
.button a:nth-child(1){
    margin-right: 200px;
}
.button a:hover{
    box-shadow: 0px 0px 0 #9bdae7;
    transform: translate(10px, 10px);
}
#god{
    height: 1500px;
}
.god{
    background: url(../images/perfume/god3.jpg) no-repeat 50% 0 fixed;
    height: 320px;
}
#god .dionysos{
    width: 680px;
    height: 336px;
    margin: 0 auto;
    padding-top: 450px;
    padding-right: 150px;
}
#god .dionysos img:nth-child(1){
    padding-right: 50px;
}
.dionysos{
    width: 240px;
    height: 336px;
    overflow: hidden;
}
.dionysos img:nth-child(2):hover{
    transform: scale(1.1, 1.1);
    transition: all 1s;
    overflow: hidden;
}
.dionysos img:nth-child(2){
    transition: all 1s;
    /* 호버했을 때도 마우스가 벗어났을 때도 스륵륵 변화함. */
}
#god ul{
    margin: 0 auto;
    width: 992px;
    height: 500px;
    padding-top: 100px;
}
#god li{
    text-align: center;
    float: left;
    display: inline-block;
}
#god li:nth-child(2){
    padding: 35px 180px 0;
}
#god li p img{
    display: inline-block;
    margin: 15px 15px 5px;
}
@keyframes ani{
    0%{transform: rotate(0);}
    50%{transform: rotate(-5deg);}
    90%{transform: rotate(-5deg);}
    95%{transform: rotate(-3deg);}
    98%{transform: rotate(-1deg);}
    100%{transform: rotate(0);}
}
#god ul li:hover>img{
    animation: ani 0.4s linear;
    transform-origin: bottom;
}
#goddess{
    height: 1500px;
}
.goddess{
    background: url(../images/perfume/goddess3.jpg) no-repeat 50% 0 fixed;
    height: 320px;
    position: relative;
}
#goddess .demeter{
    width: 680px;
    height: 336px;
    margin: 0 auto;
    padding-top: 450px;
    padding-left: 150px;
}
#goddess .demeter img:nth-child(1){
    padding-right: 50px;
    width: 240px;
    height: 336px;
    overflow: hidden;
}
.demeter{
    width: 240px;
    height: 336px;
    overflow: hidden;
}
.demeter img:nth-child(1):hover{
    transform: scale(1.1, 1.1);
    transition: all 1s;
}
.demeter img:nth-child(1){
    transition: all 1s;
    /* 호버했을 때도 마우스가 벗어났을 때도 스륵륵 변화함. */
}
#goddess ul{
    margin: 0 auto;
    width: 1080px;
    height: 500px;
    padding-top: 100px;
}
#goddess li{
    text-align: center;
    float: left;
    display: inline-block;
}
#goddess li:nth-child(2){
    padding: 0px 180px 0;
}
.border{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 15px 0;
    margin-top: 30px;
}
#goddess li p img{
    display: inline-block;
    margin: 15px 15px 5px;
}
@keyframes ani{
    0%{transform: rotate(0);}
    50%{transform: rotate(-5deg);}
    90%{transform: rotate(-5deg);}
    95%{transform: rotate(-3deg);}
    98%{transform: rotate(-1deg);}
    100%{transform: rotate(0);}
}
#goddess ul li:hover>img{
    animation: ani 0.4s linear;
    transform-origin: bottom;
}
#footer{
    margin-top: 70px;
    background: url(../images/main/footer.jpg) no-repeat 50% 0;
    height: 479px;
    position: relative;
}
.footer_inner{
    width: 1320px;
    margin: 0 auto;
    color: #fff;
}
.left{
    position: absolute;
    float: left;
    width: 602px;
    top: 50%;
    margin-top: -120px;
}
.left p{
    padding-top: 80px;
    line-height: 30px;
}
.left img{
    padding-right: 30px;
}
.right{
    float: right;
    width: 550px;
    margin-top: 170px;
    margin-right: 0;
}
.right li{
    width: 45px;
}
.right p{
    line-height: 25px;
}
.right ul{
    margin-right: 30px;
    float: left;
}
.right li:nth-child(2){
    padding: 15px 0;
}
.right p:nth-child(3){
    padding-top: 23px;
}
.right p:nth-child(4){
    padding-top: 26px;
}
.sns{
    position: absolute;
    top: 85%;
    right: 50%;
    margin-right: -540px;
}
.sns a{
    display: inline-block;
    margin-left: 10px;
    opacity: 0.5;/*반투명*/
}
.sns a:hover{
    opacity: 1;/*선명*/
}
.footer_logo{
    float: left;
}
.top{
    position:fixed; 
    bottom:50px; 
    right:50px; 
    display:none;
  }